In [158]:
import geopandas as gpd
import pandas as pd

In [159]:
shp_file_path = "Data\BND_ADM_DONG_PG\BND_ADM_DONG_PG.shp"
#shp_file_path = r"C:\Users\민지영\OneDrive - UNIST (1)\OR LAB\(2024) Orienteering Problem\Code\Data\통계청_SGIS 행정구역 통계 및 경계_20230701\2. 경계\3. 2023년 2분기 기준 행정동 경계\bnd_dong_00_2023_2023_2Q.shp"
Dong = gpd.read_file(shp_file_path, encoding='cp949')
Code = pd.read_excel("Data\센서스 공간정보 지역 코드.xlsx")

df1 = gpd.GeoDataFrame(Dong, geometry='geometry', crs="EPSG:4326")
df2 = pd.DataFrame(Code)

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\민지영\AppData\Local\Temp\ipykernel_18932\3832451190.py:1: SyntaxWarning: invalid escape sequence '\B'
  shp_file_path = "Data\BND_ADM_DONG_PG\BND_ADM_DONG_PG.shp"

In [160]:
df1.dtypes

BASE_DATE      object
ADM_NM         object
ADM_CD         object
geometry     geometry
dtype: object

In [161]:
df2.dtypes

시도코드      int64
시도명칭     object
시군구코드     int64
시군구명칭    object
읍면동코드     int64
읍면동명칭    object
dtype: object

In [162]:
df1.head()

,BASE_DATE,ADM_NM,ADM_CD,geometry
0,20230701,사직동,11010530,"POLYGON ((197702.06913 553187.31148, 197703.43..."
1,20230701,삼청동,11010540,"POLYGON ((198170.45654 553770.67753, 198172.18..."
2,20230701,부암동,11010550,"POLYGON ((196621.02324 556395.87962, 196628.32..."
3,20230701,평창동,11010560,"POLYGON ((197800.71944 559064.24533, 197782.58..."
4,20230701,한남동,11030740,"POLYGON ((200404.26849 550031.32265, 200404.01..."

In [163]:
df2.head()

   시도코드   시도명칭  시군구코드 시군구명칭  읍면동코드 읍면동명칭
0    11  서울특별시     10   종로구    530   사직동
1    11  서울특별시     10   종로구    540   삼청동
2    11  서울특별시     10   종로구    550   부암동
3    11  서울특별시     10   종로구    560   평창동
4    11  서울특별시     10   종로구    570   무악동

In [164]:
df2 = df2[(df2["시도코드"]==26) & (df2["시군구코드"]== 20)]
df2["ADM_CD"] = df2["시도코드"].astype(str) + df2["시군구코드"].astype(str) + df2["읍면동코드"].astype(str)
df2['ADM_CD'] = df2['ADM_CD'].str[:2] + '0' + df2['ADM_CD'].str[2:]
df2.head()

      시도코드   시도명칭  시군구코드 시군구명칭  읍면동코드 읍면동명칭    ADM_CD
1128    26  울산광역시     20    남구    510  신정1동  26020510
1129    26  울산광역시     20    남구    520  신정2동  26020520
1130    26  울산광역시     20    남구    530  신정3동  26020530
1131    26  울산광역시     20    남구    540  신정4동  26020540
1132    26  울산광역시     20    남구    550  신정5동  26020550

In [165]:
df2.dtypes

시도코드       int64
시도명칭      object
시군구코드      int64
시군구명칭     object
읍면동코드      int64
읍면동명칭     object
ADM_CD    object
dtype: object

In [166]:
pd.set_option('display.float_format', '{:.10f}'.format)

In [167]:
district_gdf = df1.merge(df2, on='ADM_CD', how='inner')
selected_columns = ['ADM_NM', 'geometry']
district_gdf = district_gdf[selected_columns]
district_gdf

    ADM_NM                                           geometry
0     신정2동  POLYGON ((408456.81195 329492.30610, 408461.00...
1       옥동  POLYGON ((406873.21557 329939.69726, 406914.98...
2   야음장생포동  POLYGON ((414995.06926 329458.82214, 415004.95...
3      대현동  POLYGON ((411759.31531 328764.98326, 411756.06...
4     신정4동  POLYGON ((409983.27079 328580.33114, 409983.94...
5      선암동  MULTIPOLYGON (((416482.92430 320794.52150, 416...
6      무거동  POLYGON ((404959.82663 330659.76389, 404968.29...
7     신정1동  POLYGON ((409502.37372 330014.55451, 409514.02...
8     신정3동  POLYGON ((410219.26653 330100.78423, 410224.28...
9     신정5동  POLYGON ((410756.87218 330301.68909, 410756.89...
10      달동  POLYGON ((411382.29537 328637.95058, 411391.98...
11     삼산동  POLYGON ((412073.45526 330564.13356, 412100.38...
12     삼호동  POLYGON ((405446.13340 331228.71695, 405459.86...
13     수암동  POLYGON ((410501.20843 328157.90379, 410531.45...

In [168]:
#district_gdf = district_gdf.to_crs(epsg=5179)

In [169]:
# 유효하지 않은 geometry를 가진 행 찾기
#invalid_geometry = district_gdf[~district_gdf.is_valid]

# 유효하지 않은 geometry가 있는지 확인
#print(invalid_geometry)

In [170]:
# 파일 경로 지정
#output_file = r"C:\Users\민지영\OneDrive - UNIST (1)\OR LAB\(2024) Orienteering Problem\Code\Data\district_shapefile.shp"

# GeoDataFrame을 shp 파일로 저장
#district_gdf.to_file(output_file)

# 저장 경로 확인
#print(f"Shapefile 저장 완료: {output_file}")

In [171]:
candidate = gpd.read_file("Data\candidate_sites.shp", encoding='cp949')
candidate_gdf = gpd.GeoDataFrame(candidate, geometry='geometry', crs="EPSG:4326")

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\민지영\AppData\Local\Temp\ipykernel_18932\1738584319.py:1: SyntaxWarning: invalid escape sequence '\c'
  candidate = gpd.read_file("Data\candidate_sites.shp", encoding='cp949')

In [172]:
candidate_gdf

    cluster_id                    geometry
0            0  POINT (129.32565 35.54246)
1            1  POINT (129.26051 35.54431)
2            2  POINT (129.31709 35.53614)
3            3  POINT (129.33359 35.52279)
4            4  POINT (129.29648 35.53612)
..         ...                         ...
95          95  POINT (129.31796 35.53961)
96          96  POINT (129.31556 35.53667)
97          97  POINT (129.33167 35.53442)
98          98  POINT (129.32845 35.52947)
99          99  POINT (129.25942 35.54926)

[100 rows x 2 columns]

In [173]:
# 시설 위치 좌표계가 EPSG:4326이라 가정하고, 이를 EPSG:5186 (UTM-K)으로 변환
candidate_gdf = candidate_gdf.to_crs(epsg=5186)

# 변환된 좌표계 확인
print(candidate_gdf.crs)

EPSG:5186

In [174]:
print(candidate_gdf.crs)  # 시설 데이터 좌표계
print(district_gdf.crs)  # 행정 구역 데이터 좌표계

EPSG:5186
EPSG:4326

In [175]:
candidate_gdf

    cluster_id                       geometry
0            0  POINT (410912.597 329767.587)
1            1  POINT (404999.242 329834.790)
2            2  POINT (410153.058 329047.417)
3            3  POINT (411684.414 327601.604)
4            4  POINT (408283.179 329001.708)
..         ...                            ...
95          95  POINT (410222.631 329435.273)
96          96  POINT (410012.139 329103.744)
97          97  POINT (411480.067 328888.043)
98          98  POINT (411200.302 328331.541)
99          99  POINT (404887.955 330382.060)

[100 rows x 2 columns]

In [176]:
# 시설 데이터와 행정구역 데이터의 공간 결합
facility_by_district = gpd.sjoin(candidate_gdf, district_gdf, how="left", predicate="within")

# 결과 확인
print(facility_by_district[['cluster_id', 'ADM_NM']])

    cluster_id  ADM_NM
0            0    신정5동
1            1     무거동
2            2      달동
3            3  야음장생포동
4            4      옥동
..         ...     ...
95          95    신정3동
96          96      달동
97          97     삼산동
98          98     대현동
99          99     무거동

[100 rows x 2 columns]

C:\Users\민지영\AppData\Local\Temp\ipykernel_18932\3287606863.py:2: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:5186
Right CRS: EPSG:4326

  facility_by_district = gpd.sjoin(candidate_gdf, district_gdf, how="left", predicate="within")

In [177]:
cluster_count = facility_by_district.groupby('ADM_NM').size()

# 결과 출력
print(cluster_count)

ADM_NM
달동        20
대현동        8
무거동        7
삼산동       17
삼호동        5
선암동        3
수암동        3
신정1동       3
신정2동       8
신정3동       5
신정4동       8
신정5동       4
야음장생포동     6
옥동         3
dtype: int64

In [ ]:
cluster_count = facility_by_district.groupby('ADM_NM').size()

# 결과 출력
print(cluster_count)

ADM_NM
달동        20
대현동        8
무거동        7
삼산동       17
삼호동        5
선암동        3
수암동        3
신정1동       3
신정2동       8
신정3동       5
신정4동       8
신정5동       4
야음장생포동     6
옥동         3
dtype: int64